.bgCardBody{
  background-color: #efefef;
}

.bgCardHead{
  background-color: #a6a6a6;
  min-height: 125px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.bgCardPhoto{
  min-height: 125px;
  margin-top: 30px;
}

.circle-40 {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #CC0000;
  color: white;
  text-align: center;
}

.line-h-40{
  line-height: 32px;
}
