.bgCardBody{
  background-color: white;
}

.bgCardHead{
  background-color: #a6a6a6;
  margin-top: 30px;
  margin-right: 10px;
  text-align: center;
}

.line-h-40{
  line-height: 32px;
}

.login-signalement:hover {
  cursor: pointer;
  color: #5fbae9;
}
