<div class="spinner" ng-show="loading" *ngIf="loading">
  <img src="http://w3lessons.info/demo/jquery-preloader/ajax-loader.gif"/>
</div>
<div class="container">
  <div class="main-body">
    <p *ngIf="returnError">
      <ngb-alert [dismissible]="true" (closed)="closeAlert()">
        <strong>Attention !</strong> {{errorMessage}}.
      </ngb-alert>
    </p>
    <br>
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center text-break">
              <img [src]='pictureProfile' alt="Admin" class="rounded-circle"
                   width="150">
              <div class="mt-3">
                <h4>@{{user['login']}}</h4>
                <p class="text-secondary mb-1">{{user['role']}}</p>
                <p class="text-muted font-size-sm" *ngIf="user['description'] != 'null'">{{user['description']}}</p>
                <input type="submit" value="Message" [routerLink]="['/message']"
                       [queryParams]="{login:user['login']}" *ngIf='!samePeople'>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card mt-3 text-center" class="text-center">
          <h6 class="mb-0">Avis</h6>
          <br>
          <input (click)="displayComment()" *ngIf="!samePeople" class="w-25" type="submit" value="Ajouter">
          <br>
          <br>
          <div *ngIf="displayCommentBool">
          <textarea #comment type="text"
                    class="fadeIn second  form-control" maxlength="100"></textarea>
            <ngb-rating [(rate)]="currentRate"></ngb-rating>
            <br>
            <input (click)="insertComment(comment.value)" class="w-25" type="submit" value="Valider">
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div>
            <br>
            <div class="d-flex flex-row justify-content-around">
              <input type="submit" value="Informations" (click)="displayInformations()"/>
              <input type="submit" value="Liste des compétences" (click)="displaySkillsList()"
                     *ngIf="user['role'] == 'babysitter'"/>
              <input type="submit" value="Agenda" (click)="displayAgenda()" *ngIf="user['role'] == 'babysitter'"/>
            </div>
            <br>
            <div *ngIf="displaySkillsListBool">
              <ul class="list-group d-flex" *ngIf="!modificationSkillsBool">
                <li class="list-group-item" *ngFor="let skill of listAllSkills">
                  <span class="float-lg-start">{{skill.skill}}</span>
                  <span class="float-end">{{skill.category}}</span>
                </li>
              </ul>
              <div *ngIf="addSkillBool">
                <input (change)="onChangeSkill($event,-1,-1)" type="text" class="float-lg-start">
                <select (change)="onChangeCategorie($event,-1,-1)" class="fadeIn second float-end">
                  <option value=""></option>
                  <option *ngFor="let elem of listAllCategories">{{elem}}</option>
                </select>
              </div>
              <div *ngIf="!modificationSkillsBool && !addSkillBool" class="text-center">
                <br>
                <div class="d-flex flex-row justify-content-center">
                  <input type="submit" value="Ajouter" (click)="addSkill()" *ngIf='samePeople'>
                  <input style="margin-left: 3% " type="submit" value="Modifier" (click)="modificationSkills()"
                         *ngIf='samePeople'>
                </div>
              </div>
              <ul class="list-group d-flex" *ngIf="modificationSkillsBool && !addSkillBool">
                <li class="list-group-item" *ngFor="let skill of listAllSkills; let index = index">
                  <input (change)="onChangeSkill($event,index,skill.id)" type="text" class="float-lg-start"
                         value="{{skill.skill}}">
                  <i class="fa fa-trash float-end" aria-hidden="true" (click)="deleteSkill(index,skill.id)"
                     *ngIf='samePeople' style="margin-left: 2%"></i>
                  <select (change)="onChangeCategorie($event,index,skill.id)" class="float-end">
                    <option value=""></option>
                    <option *ngFor="let elem of listAllCategories">{{elem}}</option>
                  </select>
                </li>
                <br>
              </ul>
              <div *ngIf="modificationSkillsBool" class="justify-content-center d-flex flex-row">
                <input type="submit" value="Enregistrer"
                       (click)="updateSkills()">
                <input type="submit" value="Annuler" style="margin-left: 2%"
                       (click)="cancel()">
              </div>
              <div *ngIf="addSkillBool" class="text-center" style="margin-top: 5%">
                <input type="submit" value="Enregistrer"
                       (click)="insertSkills()">
                <input type="submit" value="Annuler" style="margin-left: 2%"
                       (click)="cancel()">
              </div>
              <br>
            </div>
            <div class="card-body" *ngIf="displayInformationsBool">
              <div class="row">
                <div class="col-sm-3" *ngIf="!modificationUserBool">
                  <h6 class="mb-0">Nom Complet</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="!modificationUserBool">
                  {{user['name'].charAt(0).toUpperCase() + user['name'].substr(1)}} {{user['lastname'].toUpperCase()}}
                </div>
                <div class="col-sm-3" *ngIf="modificationUserBool">
                  <h6 class="mb-0">Prenom</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="modificationUserBool">
                  <input [(ngModel)]="user['name']">
                </div>
              </div>
              <hr *ngIf="modificationUserBool">
              <div class="row">
                <div class="col-sm-3" *ngIf="modificationUserBool">
                  <h6 class="mb-0">Nom</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="modificationUserBool">
                  <input [(ngModel)]="user['lastname']">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="!modificationUserBool">
                  {{user['email']}}
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="modificationUserBool">
                  <input [(ngModel)]="user['email']">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Sexe</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="!modificationUserBool">
                  {{sexeUser}}
                </div>
                <div class="btn-group w-25 " role="group" ngbRadioGroup name="radioBasic" [ngModel]="sexe"
                     *ngIf="modificationUserBool">
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" class="btn-check" value="1" #homme (click)="modifySexe(homme.value)">
                    Homme
                  </label>
                  <label ngbButtonLabel class="btn-primary ">
                    <input ngbButton type="radio" class="btn-check " value="2" #femme
                           (click)="modifySexe(femme.value)"> Femme
                  </label>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Age</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="!modificationUserBool">
                  {{user['age']}}
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="modificationUserBool">
                  <input [(ngModel)]="user['age']" type="number" placeholder="Age" min="0" max="100" oninput="this.value = this.value.replace(/[^0-9.]/g, '');
       this.value = this.value.replace(/^(?!(?:\d{1,2}|100)$)[0-9]\d+$/,100);">
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="modificationUserBool">
                <div class="col-sm-3">
                  <h6 class="mb-0">Description <span class="text-info">{{lengthTextAreaNumber}}
                    /100</span></h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="!modificationUserBool">
                  {{user['age']}}
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="modificationUserBool">
                <textarea [(ngModel)]="user['description']" #box type="text" id="form7"
                          class="fadeIn second  form-control" maxlength="100"
                          (keyup)="onKeyUpTextArea(box)"></textarea>
                </div>
              </div>
              <hr *ngIf="modificationUserBool">
              <div class="row">
                <div *ngIf="!modificationUserBool" class="text-center">
                  <input type="submit" value="Modifier" (click)="modificationUser()" *ngIf='samePeople'>
                </div>
                <div *ngIf="modificationUserBool" class="d-flex flex-row justify-content-center">
                  <input type="submit" value="Enregistrer"
                         (click)="updateUser()">
                  <input type="submit" value="Annuler" style="margin-left: 2%"
                         (click)="cancel()">
                </div>
              </div>
            </div>
            <div *ngIf="displayAgendaBool && !addAvaibalityBool && !modificationAvaibalityBool" style="height: 10vh">
              <app-calendar></app-calendar>
              <div class="d-flex flex-row justify-content-center">
                <input type="submit" value="Ajouter" (click)="addAvaibality()" *ngIf='samePeople'>
                <input style="margin-left: 3% " type="submit" value="Modifier" (click)="modificationAvailability()"
                       *ngIf='samePeople'>
              </div>
            </div>
            <div *ngIf="displayAgendaBool && addAvaibalityBool && !modificationAvaibalityBool"
                 style="height: 10vh; text-align: center">
              <div class="d-flex flex-row justify-content-between">
                <select (change)="onChangeDay($event,-1,-1)" class="float-end">
                  <option value=""></option>
                  <option *ngFor="let elem of listAllDay">{{elem}}</option>
                </select>
                <select (change)="onChangeHourStart($event,-1,-1)" class="float-end">
                  <option value=""></option>
                  <option *ngFor="let elem of listAllHour">{{elem}}</option>
                </select>
                <select (change)="onChangeHourEnd($event,-1,-1)" class="float-end">
                  <option value=""></option>
                  <option *ngFor="let elem of listAllHour">{{elem}}</option>
                </select>
              </div>
              <br>
              <input type="submit" value="Enregistrer" (click)="insertAvaibality()" *ngIf='samePeople'>
              <input style="margin-left: 3% " type="submit" value="Annuler" (click)="cancel()" *ngIf='samePeople'>
            </div>

            <div *ngIf="displayAgendaBool && !addAvaibalityBool && modificationAvaibalityBool" style="height: 10vh">
              <li class="list-group-item d-flex flex-column"
                  *ngFor="let avaibality of listAllAvaibality; let index = index">
                <p>Jour : {{avaibality.day}}, Heure début : {{avaibality.startHour}}H, Heure de
                  fin {{avaibality.endHour}}H</p>
                <div class="d-flex flex-row justify-content-between">
                  <select (change)="onChangeDay($event,index,avaibality.id)" class="float-end">
                    <option value=""></option>
                    <option *ngFor="let elem of listAllDay">{{elem}}</option>
                  </select>
                  <select (change)="onChangeHourStart($event,index,avaibality.id)" class="float-end">
                    <option value=""></option>
                    <option *ngFor="let elem of listAllHour">{{elem}}</option>
                  </select>
                  <select (change)="onChangeHourEnd($event,index,avaibality.id)" class="float-end">
                    <option value=""></option>
                    <option *ngFor="let elem of listAllHour">{{elem}}</option>
                  </select>
                  <i class="fa fa-trash float-end" aria-hidden="true" (click)="deleteAvaibality(index,avaibality.id)"
                     *ngIf='samePeople' style="margin-left: 2%"></i>
                </div>
              </li>
              <br>
              <div class="d-flex flex-row justify-content-center">
                <input type="submit" value="Enregistrer" (click)="updateAvailability()" *ngIf='samePeople'>
                <input style="margin-left: 3% " type="submit" value="Annuler" (click)="cancel()" *ngIf='samePeople'>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
