<div class="d-flex flex-row">
  <div class="img-baby">
    <br><br>
    <div class="flex-column text-home text-center">
      <h1>Bienvenue sur BabyTeacher !</h1>
      <h5>Mise en relation entre parents et babysitters qualifés</h5>
      <br>
      <input type="submit" value="Connexion" routerLink="/login" routerLinkActive="active">
      <input type="submit" value="Inscription" routerLink="/subscribe" routerLinkActive="active" style="margin-left: 7%">
    </div>
  </div>
</div>
<br>
<div class="d-flex flex-row justify-content-evenly">
  <div class="text-center">
    <img width="auto" height="auto" alt="Faire garder son enfant à la sortie de l'école"
         data-src="https://www.kinougarde.com/wp-media/uploads/2019/10/picto-sortie-d-ecole.svg" class=""
         src="https://www.kinougarde.com/wp-media/uploads/2019/10/picto-sortie-d-ecole.svg">
    <h6>Aide aux devoirs</h6>
  </div>
  <div class="text-center">
    <img width="auto" height="auto" alt="Garde d'enfant sortie de crèche"
         data-src="https://www.kinougarde.com/wp-media/uploads/2017/07/picto-sortie-de-creche.svg" class=""
         src="https://www.kinougarde.com/wp-media/uploads/2017/07/picto-sortie-de-creche.svg">
    <h6>Sorties ludiques</h6>
  </div>
  <div class="text-center">
    <img width="auto" height="auto" alt="Nounou horaires décalés"
         data-src="https://www.kinougarde.com/wp-media/uploads/2017/07/picto-horaires-variables.svg" class=""
         src="https://www.kinougarde.com/wp-media/uploads/2017/07/picto-horaires-variables.svg">
    <h6>Horaires flexibles</h6>
  </div>
</div>
<br>

